.bordo{
    border-radius:10px;
    border:2px solid #ccc;
}



#login, #registrati {
    width:300px;

    float:left;

    padding:10px 40px 25px;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;

}

#login{
    height: 260px;
}

#registrati{
    height: 410px;
}

input[type=text],input[type=password],input[type=email],#buttonRegistrati,#buttonLogin{
    padding:10px;
    border-radius: 6px;

}

input[type=text],input[type=password],input[type=email] {
    width:94%;
    margin-top:8px;
    margin-bottom:8px;
    border:1px solid #ccc;
    font-size:16px;

}

.label{
    font-size:20px;
    font-family: 'Ubuntu', sans-serif;
}

a:link {
    text-decoration: none;
}


#labelRegistrati{
    text-align: center;
    font-size:15px;
    font-family: 'Ubuntu', sans-serif;
}

#buttonLogin,#buttonRegistrati {
    width:100%;
    margin-top: 15px;
    margin-bottom:7px;
    background-color:#FF6347;
    color:#fff;
    border:2px solid #FF7F50;
    cursor:pointer;
    font-size:20px;
    font-family: 'Ubuntu', sans-serif;
}

#buttonAggiungi,#buttonM{
    color:#fff;
    font-size:15px;
    font-family: 'Ubuntu', sans-serif;
    background-color:#419CF7;
    border:2px solid #5DA9F6;
    border-radius:10px;
    cursor:pointer;

}

#errore{
    color: red;
    font-family: 'Ubuntu', sans-serif;
}

#logoutB{
    float: right;
    margin: 20px;
}

#benvenuto{
    float: left;
    margin: 20px;
}

#main{
    height: 100%;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#divTabella{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#aggiungi{

    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 0px;
}

.tabella {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.campiAggiungi{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;;
}

#saldo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#saldoRosso{
    color: #FF6347;
}

#saldoVerde{
    color: green;
}

.cursorClick{
    cursor:pointer;
}

.rossoChiaro{
    background-color:rgba(255,153,153,.5);
}
.verdeChiaro{
    background-color:rgba(153,255,153,.5);
}